body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
h1{
    color:red;
  }  
   header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #111;
    color:#fff;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
    cursor: pointer;
  }
  .hero {
    text-align: center;
    padding: 80px 20px;
       
  }
  
  .hero-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  .hero button {
    background-color: #e50914;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
  }
    footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
